.cr-one , .cr-two, .cr-three{
    height: 570px !important;
   opacity: 0.5;
//    filter: blur(5px);   
//    filter: rgba(255,255,255,0.1);

}
.cr-caption-one{
   margin-bottom: 0px;
   font-weight: bold;
   font-size: 70px;
   color: #000;
}
.cr-caption-two{
    margin-bottom: 70px;
    color: #000;
 }
 .cr-caption-btn{
     margin-bottom: 100px;
 }

 @media(max-width: 768px){
     .cr-one, .cr-two, .cr-three{
        height:  400px !important;
     }
 }
 @media (max-width: 425px){
    .cr-one, .cr-two, .cr-three{
        height:  200px !important;
     }
 }