// @import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900");
.main-nav{
  padding-top: 17px;
}
.link-one{
    color: green !important;
}
.link-two{
    color: black !important;
}
.one{
    margin-left: 400px;
    color: red !important;
}

.img-one{
    width: 13%;
    margin-top: -35px;
    
}


